<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.baianju.live_plugin">
    <!--网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--存储权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:requestLegacyExternalStorage="true"
        >
        <activity android:name=".LiveVideoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="nosensor"
            >
        </activity>
    </application>

</manifest>
